*, *::before, *::after {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: helvetica, sans-serif;
  background-color: #F8F7F5;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  background-color: #88C173;
  text-align: center;
  position: fixed;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

header nav ul li {
  padding: 0.8em;
  text-align: center;
}

header nav ul li a {
  padding: 0.6em;
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease-out;
}

header nav ul li a:hover {
  background-color: #BCD4B5;
}

main {
  padding-top: 47.7px;
}

footer {
  background-color: #B2C6A8;
}

footer ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
  grid-column: 1/-1;
}

footer ul li {
  padding: 0.8em;
}

footer ul li a {
  padding: 0.6em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

/* Media queries */
@media (min-width: 36em) {

  /* Veranderingen navigatie menu */
  header nav ul {
    grid-template-columns: 10em 1fr 1fr 1fr;
  }

  header nav ul li:first-of-type {
    grid-column: 1/2;
  }

  header nav ul li a {
    font-size: 1.1em;
  }

  nav ul li ul {
    width: 270px;
  }
}

@media (min-width: 54em) {

  /* Veranderingen navigatie menu */
  header nav ul {
    grid-template-columns: 15em 1fr 1fr 1fr 2fr;
  }

  header nav ul li a {
    font-size: 1.3em;
  }
}