<% include ('../partials/head.ejs') %>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Gebruiker</a></li>
        <li><a href="#">Logo</a></li>
        <li><a href="#">Matches</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Matches</h1>
    <article>
      <h1>Naam en leeftijd</h1>
      <img src="images/Steve.jpg" alt="Foto Steve">
      <p></p>
    </article>
  </main>
</body>
